body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #2d2e31;
}


.navbar-brand {
    padding: 0;
    width: 250px;
}


.nav-item {
    font-family: 'Montserrat', sans-serif;
    padding-left: 25px;
}

.nav-link {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

.bgvideo h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 64px;
    color: #bd6c29;
    text-align: center;
    padding-top: 30px;
}

.bgvideo p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 36px;
    color: rgba(0, 0, 1);
}

.landingvideo {
    margin-left: 175px;
    margin-top: -75px;
}

.landingvideo p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: rgba(0, 0, 1);
    padding-right: 140px;
    margin-top: -90px;
}

.firstlandingstory p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 1);
    margin-left: 150px;
    margin-right: 135px;
    padding-top: 35px;
}

.has-dropcap:first-letter {
    font-family: 'Lust', serif;
    font-size: 72px;
    color: #bd6c29;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
    float: left;

}

.firstlandingstory2 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 1);
    margin-left: 150px;
    margin-right: 135px;
    padding-top: 15px;
}

.landingimage1 {
    margin-left: 175px;

}

.landingimage1 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: rgba(0, 0, 1);
    margin-right: 55px;
}

.secondlandingstory {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 1);
    margin-left: 150px;
    margin-right: 135px;
    padding-top: 25px;
}

.secondlandingstorypt2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 1);
    margin-left: 150px;
    margin-right: 135px;
    padding-top: 25px;
}

.secondlandingstorypt3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 1);
    margin-left: 150px;
    margin-right: 135px;
    padding-top: 25px;
}

.secondlandingstory2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 1);
    margin-left: 150px;
    margin-right: 135px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.landingimage2 {
    margin-left: 175px;

}

.landingimage2 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: rgba(0, 0, 1);
    margin-right: 55px;
}

.thirdlandingstory {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 1);
    margin-left: 150px;
    margin-right: 135px;
    padding-top: 5px;
}

.thirdlandingstory2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 1);
    margin-left: 150px;
    margin-right: 135px;
    padding-top: 20px;
}

.thirdlandingstory3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 1);
    margin-left: 150px;
    margin-right: 135px;
    padding-top: 20px;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    width: 100%;
}

footer p {
    font-family: 'Lust', serif;
    margin-top: 15px;
    font-size: 36px;
}

.text-uppercase {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 18px;
}

.gallerytitle h1 {
    font-family: 'Lust', serif;
    font-size: 112px;
    text-align: center;
    padding-top: 20px;
}

.gallerytitle p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 64px;
    text-align: center;
    margin-top: -40px;
    color: #bd6c29;
}